<div *ngFor="let message of model.conversation">

  <div class="container" *ngIf="model.currentUser._id==message.author._id">
    <img src="/assets/images/user.jpg" alt="Avatar">
    <h5>{{message.author.name}}</h5>
    <p> {{message.body}}</p>
    <span class="time-left">11:00</span>
  </div>
  <div class="container darker" *ngIf="model.currentUser._id!=message.author._id">
    <img src="/assets/images/user.jpg" alt="Avatar" class="right">
    <h5 class="text-right">{{message.author.name}}</h5>
    <p class="text-right">{{message.body}}</p>
    <span class="time-right">11:00</span>
  </div>
</div>




<input [(ngModel)]="model.message" (keyup)="$event.keyCode == 13 && onClickSend()" />
<button id='sendMessage' (click)="onClickSend()">Send</button>